@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#pageWidth {
  width: 1024px;
}

#pageWidthBlog {
  width: 1024px;
  background-color: #f4f4f4;
}

.imageSize {
  height: 250px;
  width: 1024px;
}

.formColor {
  background-color: #f4f4f4;
}
.formInput {
  color: #c5c5c5;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 15px;
  text-decoration: none;
}

::placeholder {
  color: #c5c5c5;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 15px;
  text-decoration: none;
}

.form {
  height: 659px;
  width: 430px;
  margin-right: 11px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.formText {
  color: #2b2b2b;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}

.form label {
  color: #404040;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}

.formTextArea {
  height: 14.8rem;
  width: 23.75rem;
  background-color: #fafafa;
}

.styledButton {
  height: 48px;
  width: 141px;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.roundedButton {
  height: 24px;
  width: 80px;
  font-family: "Montserrat";
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
}

.formButton {
  height: 1.938rem;
  width: 12rem;
  border-radius: 18px;
  background-color: #f27623;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
}

.blogs {
  width: 473px;
  margin-left: 11px;
}

.cards {
  width: 26.5rem;
  background-color: #ffffff;
}

.card {
  margin: 0;
  text-decoration: none;
  width: 12.5rem;
  height: 16.438rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.cardImage {
  width: 12.5rem;
  height: 4.5rem;
}

#cardImageText {
  height: 9px;
  font-family: "Montserrat";
  font-size: 8px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 9px;
}

.card h1 {
  color: #262626;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  margin-bottom: 0.75rem;
}

.card p {
  color: #868686;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 19px;
}

.cardTextSize {
  height: 9.438rem;
  width: 10rem;
}

.cardsButton {
  position: relative;
  width: auto;
}

.footer {
  height: 32px;
  width: 1024px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.footerText {
  height: 15px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  margin: 0 0.531;
  padding-left: 0.5rem;
}

.BlogBackground {
  height: 660px;
  width: 925px;
  background-color: white;
}

.paginationText {
  height: 19px;
  width: 105px;
  color: #f27623;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 19px;
}
.paginationStyle {
  height: 15px;
  width: 8px;
  color: #313131;
  font-family: "Montserrat";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}

.letters div:nth-child(3) {
  color: #383838;
  font-family: "Montserrat";
  font-weight: bold;
  background-color: #f2f2f2;
  border-radius: 18px;
}
